@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

#download-message {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(212, 175, 55, 0.433);
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#download-message.success {
  color: var(--gold);
  background-color: #e7ffe7;
  border: 0.2rem solid var(--gold);
}

#download-message.error {
  color: #b33939;
  background-color: #ffe7e7;
  border: 0.2rem solid #b33939;
}
